<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.assignment.AssignmentPersistence">

    <insert id="create" parameterType="org.thiki.kanban.assignment.Assignment">
        INSERT INTO kb_task_assignment(id,task_id, assignee, assigner, reporter) VALUES (#{id},#{taskId}, #{assignee},
        #{assigner}, #{reporter})
    </insert>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.assignment.Assignment">
        SELECT * FROM kb_task_assignment WHERE id= #{id}
    </select>

    <select id="findByTaskId" parameterType="java.lang.String" resultType="org.thiki.kanban.assignment.Assignment">
        SELECT * FROM kb_task_assignment WHERE task_id= #{taskId} AND delete_status=0
    </select>
</mapper>
