<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.entry.EntriesPersistence">

    <insert id="create" parameterType="org.thiki.kanban.entry.Entry">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
        INSERT INTO
        kb_entry(title, reporter) VALUES (#{title}, #{reporter})
    </insert>

    <update id="update" parameterType="org.thiki.kanban.entry.Entry" flushCache="true">
        UPDATE kb_entry SET
        title=#{title}
        WHERE id=#{id}
    </update>

    <select id="loadAll" parameterType="java.lang.Integer" resultType="org.thiki.kanban.entry.Entry">
        SELECT * FROM kb_entry WHERE delete_status=0
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultType="org.thiki.kanban.entry.Entry">
        SELECT * FROM kb_entry WHERE delete_status=0 and id= #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer" flushCache="true">
        UPDATE kb_entry SET delete_status=1 WHERE id=#{id}
    </delete>
</mapper>
