<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.thiki.kanban.user.UsersPersistence">

    <insert id="create" parameterType="org.thiki.kanban.user.User">
		INSERT INTO
		kb_user(id, email) VALUES (#{id}, #{email})
	</insert>

    <update id="update" parameterType="org.thiki.kanban.user.User" flushCache="true">
		UPDATE kb_user SET
		email=#{email}
		WHERE id=#{id}
	</update>

    <select id="loadAll" parameterType="java.lang.String" resultType="org.thiki.kanban.user.User">
		SELECT * FROM kb_user WHERE delete_status=0
	</select>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.user.User">
		SELECT * FROM kb_user WHERE delete_status=0 and id= #{id}
	</select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
		UPDATE kb_user SET delete_status=1 WHERE id=#{id}
	</delete>
</mapper>
