<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.activity.ActivityPersistence">
    <insert id="record" parameterType="org.thiki.kanban.activity.Activity">
        INSERT INTO
        kb_activity(id,card_id,
        prev_procedure_id,procedure_id,prev_procedure_snapShot,procedure_snapShot,operation_type_code,operation_type_name,summary,detail,userName)
        VALUES
        (#{id},#{cardId}, #{prevProcedureId},
        #{procedureId},#{prevProcedureSnapShot},#{procedureSnapShot},#{operationTypeCode}, #{operationTypeName},
        #{summary},
        #{detail}, #{userName})
    </insert>
</mapper>
