<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.assignment.AssignmentPersistence">

    <insert id="create" parameterType="org.thiki.kanban.assignment.Assignment">
        INSERT INTO kb_card_assignment(id,card_id, assignee, assigner, author) VALUES (#{id},#{cardId}, #{assignee},
        #{assigner}, #{author})
    </insert>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.assignment.Assignment">
        SELECT
        assignment.id,assignment.card_id,assignment.assignee,assignment.assigner,assignment.author,assignment.creation_time,assignment.modification_time,userRegistration.name
        FROM kb_card_assignment assignment LEFT JOIN kb_user_registration userRegistration ON
        assignment.assignee=userRegistration.id WHERE assignment.id= #{id}
    </select>

    <select id="findByCardId" parameterType="java.lang.String" resultType="org.thiki.kanban.assignment.Assignment">
        SELECT
        assignment.id,assignment.card_id,assignment.assignee,assignment.assigner,assignment.author,userRegistration.name
        FROM kb_card_assignment assignment LEFT JOIN kb_user_registration userRegistration ON
        assignment.assignee=userRegistration.id
        WHERE assignment.card_id= #{cardId} AND assignment.delete_status=0
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_card_assignment SET delete_status=1 WHERE id=#{id}
    </delete>
</mapper>
