<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.board.BoardsPersistence">

    <insert id="create" parameterType="org.thiki.kanban.board.Board">
        INSERT INTO
        kb_board(id,name, author) VALUES (#{id},#{name}, #{author})
    </insert>

    <update id="update" parameterType="org.thiki.kanban.board.Board" flushCache="true">
        UPDATE kb_board SET
        name=#{name}
        WHERE id=#{id}
    </update>
    <select id="unique" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_board WHERE delete_status=0 AND NAME=#{name} AND author=#{userName}
    </select>

    <select id="loadByUserName" parameterType="java.lang.String" resultType="org.thiki.kanban.board.Board">
        SELECT * FROM kb_board WHERE delete_status=0 AND author=#{userName}
    </select>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.board.Board">
        SELECT * FROM kb_board WHERE delete_status=0 and id= #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_board SET delete_status=1 WHERE id=#{id}
    </delete>

    <select id="findByUserId" parameterType="java.lang.String" resultType="org.thiki.kanban.board.Board">
        SELECT * FROM kb_board WHERE delete_status=0 AND author=#{userId}
    </select>

</mapper>
