<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.card.CardsPersistence">

    <insert id="create" parameterType="org.thiki.kanban.card.Card">
        INSERT INTO
        kb_card(id,summary, content,code,deadline,size, author, stage_id) VALUES
        (#{card.id},#{card.summary},
        #{card.content},#{card.code},#{card.deadline},#{card.size}, #{userName}, #{card.stageId})
    </insert>

    <update id="modify" parameterType="org.thiki.kanban.card.Card" flushCache="true">
        UPDATE kb_card SET
        summary = #{card.summary},
        content = #{card.content},
        code = #{card.code},
        <if test="card.deadline!=null">
            deadline = #{card.deadline},
        </if>
        sort_number = #{card.sortNumber},
        author = #{card.author},
        <if test="card.elapsedDays!=null">
            elapsed_days = #{card.elapsedDays},
        </if>
        <if test="card.elapsedDays!=null">
            size = #{card.size},
        </if>
        <if test="card.parentId!=null">
            parent_id = #{card.parentId},
        </if>
        <if test="card.parentId==''">
            parent_id = NULL ,
        </if>
        stage_id = #{card.stageId}
        WHERE id=#{cardId} AND delete_status=0
    </update>

    <update id="resort" parameterType="org.thiki.kanban.card.Card" flushCache="true">
        UPDATE kb_card SET sort_number = #{sortNumber}
        <if test="stageId!=null">
            ,stage_id=#{stageId}
        </if>
        WHERE id=#{id} AND delete_status=0
    </update>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.card.Card">
        SELECT * FROM kb_card WHERE id= #{cardId} AND delete_status=0
    </select>

    <select id="findByStageId" parameterType="java.lang.String" resultType="org.thiki.kanban.card.Card">
        SELECT * FROM kb_card WHERE stage_id= #{stageId} AND parent_id IS NULL AND delete_status=0
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_card SET delete_status=1 WHERE id=#{cardId}
    </delete>

    <select id="totalCardsIncludingDeleted" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM kb_card WHERE stage_id IN (SELECT id from kb_stage WHERE board_id=#{boardId}) AND
        code like concat('%',#{currentMonth},'%')
    </select>

    <select id="hasChild" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_card WHERE parent_id=#{cardId} AND delete_status=0
    </select>

    <select id="loadUnArchivedCards" parameterType="java.lang.String" resultType="org.thiki.kanban.card.Card">
        SELECT * FROM kb_card LEFT JOIN kb_stage ON kb_card.stage_id=kb_stage.id WHERE kb_stage.type !=9 AND
        kb_card.delete_status=0 AND kb_stage.delete_status=0
    </select>
    <select id="loadChildCards" parameterType="java.lang.String" resultType="org.thiki.kanban.card.Card">
        SELECT * FROM kb_card WHERE parent_id=#{cardId} AND delete_status=0
    </select>
    <select id="isArchived" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT CASE WHEN type=9 THEN 'True' ELSE 'False' END from kb_stage WHERE id=(SELECT stage_id from kb_card WHERE
        id=#{cardId} AND delete_status=0)
    </select>
    <select id="isDone" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT CASE WHEN status=9 THEN 'True' ELSE 'False' END from kb_stage WHERE id=(SELECT stage_id from kb_card
        WHERE id=#{cardId} AND delete_status=0)
    </select>
</mapper>
