<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.card.CardsPersistence">

    <insert id="create" parameterType="org.thiki.kanban.card.Card">
        INSERT INTO
        kb_card(id,summary, content,code,deadline, sort_number, author, procedure_id) VALUES
        (#{card.id},#{card.summary},
        #{card.content},#{card.code},#{card.deadline}, (SELECT
        max_sort_number from (SELECT CASE WHEN max(sort_number) IS NULL THEN 0 ELSE max(sort_number)+1 end as
        max_sort_number FROM kb_card WHERE procedure_id=#{card.procedureId} ) as t ), #{userName}, #{card.procedureId})
    </insert>

    <update id="modify" parameterType="org.thiki.kanban.card.Card" flushCache="true">
        UPDATE kb_card SET
        summary = #{card.summary},
        content = #{card.content},
        code = #{card.code},
        <if test="card.deadline!=null">
            deadline = #{card.deadline},
        </if>
        sort_number = #{card.sortNumber},
        author = #{card.author},
        <if test="card.elapsedDays!=null">
            elapsed_days = #{card.elapsedDays},
        </if>
        procedure_id = #{card.procedureId}
        WHERE id=#{cardId} AND delete_status=0
    </update>

    <update id="resort" parameterType="org.thiki.kanban.card.Card" flushCache="true">
        UPDATE kb_card SET sort_number = #{sortNumber}
        <if test="procedureId!=null">
            ,procedure_id=#{procedureId}
        </if>
        WHERE id=#{id} AND delete_status=0
    </update>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.card.Card">
        SELECT * FROM kb_card WHERE delete_status=0 AND id= #{cardId}
    </select>

    <select id="findByProcedureId" parameterType="java.lang.String" resultType="org.thiki.kanban.card.Card">
        SELECT * FROM kb_card WHERE procedure_id= #{procedureId} AND delete_status=0 ORDER BY sort_number ASC
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_card SET delete_status=1 WHERE id=#{cardId}
    </delete>

    <select id="totalCardsIncludingDeleted" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM kb_card WHERE procedure_id IN (SELECT id from kb_procedure WHERE board_id=#{boardId}) AND
        code like concat('%',#{currentMonth},'%')
    </select>

    <select id="loadUnArchivedCards" parameterType="java.lang.String" resultType="org.thiki.kanban.card.Card">
      SELECT * FROM kb_card LEFT JOIN kb_procedure ON kb_card.procedure_id=kb_procedure.id WHERE kb_procedure.type !=9
</select>
</mapper>
