<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.card.CardsPersistence">

    <insert id="create" parameterType="org.thiki.kanban.card.Card">
        INSERT INTO
        kb_card(id,summary, content, order_number, reporter, procedure_id) VALUES (#{card.id},#{card.summary}, #{card.content}, (SELECT
        max_order_number from (SELECT CASE WHEN max(order_number) IS NULL THEN 0 ELSE max(order_number)+1 end as
        max_order_number FROM kb_card WHERE procedure_id=#{card.procedureId} ) as t ), #{userName}, #{card.procedureId})
    </insert>

    <update id="update" parameterType="org.thiki.kanban.card.Card" flushCache="true">
        UPDATE kb_card SET
        summary = #{card.summary},
        content = #{card.content},
        order_number = #{card.orderNumber},
        reporter = #{card.reporter},
        procedure_id = #{card.procedureId}
        WHERE id=#{id}
    </update>

    <update id="resortOrder" parameterType="java.util.Map" flushCache="true">
        <if test="increment == 0">
            UPDATE kb_card SET order_number = order_number+1
            <![CDATA[
            WHERE order_number >= #{currentOrderNumber} AND order_number<=#{originOrderNumber}
            ]]>
        </if>

        <if test="increment == 1">
            UPDATE kb_card SET order_number = order_number-1
            <![CDATA[
            WHERE  order_number <= #{currentOrderNumber} AND order_number>=#{originOrderNumber}
             ]]>
        </if>
        AND procedure_id=#{procedureId} AND delete_status=0 AND id !=#{cardId}
    </update>

    <update id="resortTargetProcedure" parameterType="java.util.Map" flushCache="true">
        UPDATE kb_card SET order_number = order_number+1
        <![CDATA[
            WHERE order_number >= #{currentOrderNumber}
            ]]>
        AND procedure_id=#{currentProcedureId} AND delete_status=0 AND id !=#{cardId}
    </update>

    <update id="resortOriginProcedure" parameterType="java.util.Map" flushCache="true">
        UPDATE kb_card SET order_number = order_number-1
        <![CDATA[
            WHERE order_number >= #{originOrderNumber}
            ]]>
        AND procedure_id=#{originProcedureId} AND delete_status=0 AND id !=#{cardId}
    </update>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.card.Card">
        SELECT * FROM kb_card WHERE id= #{id}
    </select>

    <select id="findByProcedureId" parameterType="java.lang.String" resultType="org.thiki.kanban.card.Card">
        SELECT * FROM kb_card WHERE procedure_id= #{procedure_id} AND delete_status=0 ORDER BY order_number
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_card SET delete_status=1 WHERE id=#{id}
    </delete>
</mapper>
