<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.entry.EntriesPersistence">

    <insert id="create" parameterType="org.thiki.kanban.entry.Entry">
        INSERT INTO
        kb_entry(id,title, reporter,board_id) VALUES (#{id},#{title}, #{reporter},#{boardId})
    </insert>

    <update id="update" parameterType="org.thiki.kanban.entry.Entry" flushCache="true">
        UPDATE kb_entry SET
        title=#{title},
        order_number=#{orderNumber}
        WHERE id=#{id} AND delete_status=0
    </update>

    <update id="resort" parameterType="java.util.Map" flushCache="true">
        <if test="increment == 0">
            UPDATE kb_entry SET order_number = order_number+1
            <![CDATA[
            WHERE order_number >= #{currentOrderNumber} AND order_number<#{originOrderNumber}
            ]]>
        </if>

        <if test="increment == 1">
            UPDATE kb_entry SET order_number = order_number-1
            <![CDATA[
            WHERE order_number <= #{currentOrderNumber} AND order_number>#{originOrderNumber}
            ]]>
        </if>

        AND board_id=#{boardId} AND delete_status=0 AND id != #{id}
    </update>
    <select id="loadByBoardId" parameterType="java.lang.String" resultType="org.thiki.kanban.entry.Entry">
        SELECT * FROM kb_entry WHERE delete_status=0 AND board_id=#{boardId}
    </select>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.entry.Entry">
        SELECT * FROM kb_entry WHERE delete_status=0 and id= #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_entry SET delete_status=1 WHERE id=#{id}
    </delete>
</mapper>
