<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.thiki.kanban.teams.invitation.InvitationPersistence">

    <insert id="invite" parameterType="org.thiki.kanban.teams.invitation.Invitation">
        INSERT INTO
        kb_team_member_invitation(id, inviter,team_id,invitee) VALUES (#{id}, #{inviter}, #{teamId},#{invitee})
    </insert>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.teams.invitation.Invitation">
        SELECT * FROM kb_team_member_invitation WHERE id= #{id} AND delete_status=0
    </select>

    <update id="cancelPreviousInvitation" parameterType="org.thiki.kanban.teams.invitation.Invitation"
            flushCache="true">
        UPDATE kb_team_member_invitation SET delete_status=0 WHERE team_id=#{teamId} AND inviter=#{inviter} AND
         is_accepted=0 AND delete_status=0
    </update>

    <update id="acceptInvitation" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_team_member_invitation SET is_accepted=1 WHERE id=#{invitationId} AND inviter=#{userName}
        AND is_accepted=0 AND delete_status=0
    </update>
</mapper>
