<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.notification.NotificationPersistence">
    <insert id="create" parameterType="org.thiki.kanban.notification.Notification">
        INSERT INTO
        kb_notification(id,receiver,sender,content,link,type) VALUES
        (#{id},#{receiver},#{sender},#{content},#{link},#{type})
    </insert>

    <select id="read" parameterType="java.lang.String" resultType="org.thiki.kanban.notification.Notification">
        SELECT * FROM kb_notification WHERE id= #{id} AND delete_status=0
    </select>

    <select id="loadNotificationsByUserName" parameterType="java.lang.String"
            resultType="org.thiki.kanban.notification.Notification">
        SELECT * FROM kb_notification WHERE receiver= #{userName} AND delete_status=0
    </select>

    <select id="loadUnreadNotificationTotal" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM kb_notification WHERE  is_read=0 AND receiver= #{userName} AND delete_status=0
    </select>

    <update id="setAlreadyRead" parameterType="java.lang.String"
            flushCache="true">
        UPDATE kb_notification SET is_read=1 WHERE id=#{id} AND delete_status=0
    </update>
</mapper>
