<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.page.PagesPersistence">

    <insert id="addPage" parameterType="org.thiki.kanban.page.Page">
        INSERT INTO
        kb_page(id,title, content, board_id,author) VALUES (#{page.id},#{page.title},
        #{page.content}, #{boardId}, #{userName})
    </insert>

    <update id="modify" parameterType="org.thiki.kanban.page.Page" flushCache="true">
        UPDATE kb_page SET
        title = #{page.title},
        content = #{page.content}
        WHERE id=#{pageId} AND board_id=#{boardId} AND delete_status=0
    </update>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.page.Page">
        SELECT * FROM kb_page WHERE delete_status=0 AND id= #{pageId} AND board_id=#{boardId}
    </select>

    <select id="findByBoardId" parameterType="java.lang.String" resultType="org.thiki.kanban.page.Page">
        SELECT * FROM kb_page WHERE board_id= #{board_id} AND delete_status=0 ORDER BY modification_time DESC
    </select>

    <delete id="removePage" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_page SET delete_status=1 WHERE id=#{pageId} AND board_id=#{boardId} AND delete_status=0
    </delete>

</mapper>
