<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.thiki.kanban.password.password.PasswordPersistence">
    <insert id="createPasswordRetrievalApplication"
            parameterType="org.thiki.kanban.password.passwordRetrieval.PasswordRetrievalApplication">
        INSERT INTO
        kb_password_retrieval(id,email,verification_code) VALUES (#{id},#{email}, #{verificationCode})
    </insert>
    <select id="loadRetrievalApplication" parameterType="org.thiki.kanban.password.passwordRetrieval.PasswordRetrievalApplication"
            resultType="org.thiki.kanban.password.passwordRetrieval.PasswordRetrievalApplication">
        SELECT * FROM kb_password_retrieval WHERE delete_status=0 AND email=#{email} AND is_verify_passed=0
    </select>

    <insert id="createPasswordResetApplication"
            parameterType="org.thiki.kanban.password.passwordReset.PasswordResetApplication">
        INSERT INTO
        kb_password_reset(id,email) VALUES (#{id},#{email})
    </insert>

    <update id="resetPassword" parameterType="org.thiki.kanban.password.passwordReset.PasswordReset" flushCache="true">
        UPDATE kb_user_registration SET password=#{password} WHERE email=#{email} AND delete_status=0
    </update>

    <update id="cleanResetApplication" parameterType="org.thiki.kanban.password.passwordReset.PasswordReset"
            flushCache="true">
        UPDATE kb_password_reset SET is_reset=1 WHERE email=#{email} AND delete_status=0
    </update>

    <update id="makeRetrievalApplicationPassed" parameterType="java.lang.String"
            flushCache="true">
        UPDATE kb_password_retrieval SET is_verify_passed=1 WHERE email=#{email} AND delete_status=0
    </update>

    <update id="clearUnfinishedApplication" parameterType="java.lang.String"
            flushCache="true">
        UPDATE kb_password_retrieval SET is_verify_passed=-1 WHERE email=#{email} AND delete_status=0
    </update>

    <select id="loadResetApplicationByEmail" parameterType="org.thiki.kanban.password.passwordReset.PasswordReset"
            resultType="org.thiki.kanban.password.passwordReset.PasswordReset">
        SELECT * FROM kb_password_reset WHERE delete_status=0 AND email=#{email} AND is_reset=0
    </select>
</mapper>
