<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.thiki.kanban.passwordRetrieval.PasswordRetrievalPersistence">
    <select id="existsEmail" parameterType="java.lang.String" resultType="boolean">
        SELECT count(*) FROM kb_user_registration WHERE delete_status=0 and email= #{email}
    </select>
</mapper>
