<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.procedure.ProceduresPersistence">

    <insert id="create" parameterType="org.thiki.kanban.procedure.Procedure">
        INSERT INTO
        kb_procedure(id,title,description,author,board_id,type,status,sort_number,wip_num) VALUES
        (#{procedure.id},#{procedure.title},#{procedure.description},
        #{userName},#{boardId},#{procedure.type},#{procedure.status},(SELECT
        max_sort_number from (SELECT CASE WHEN max(sort_number) IS NULL THEN 0 ELSE max(sort_number)+1 end as
        max_sort_number FROM kb_procedure WHERE board_id=#{boardId} ) as t ), #{procedure.wipNum}
        )
    </insert>

    <update id="update" parameterType="org.thiki.kanban.procedure.Procedure" flushCache="true">
        UPDATE kb_procedure SET
        <if test="procedure.title!=null">
            title=#{procedure.title},
        </if>
        <if test="procedure.description!=null">
            description=#{procedure.description},
        </if>
        <if test="procedure.sortNumber!=null">
            sort_number=#{procedure.sortNumber},
        </if>
        <if test="procedure.status!=null">
            status=#{procedure.status},
        </if>
        <if test="procedure.type!=null">
            type=#{procedure.type},
        </if>
        <if test="procedure.wipNum!=null">
            wip_num=#{procedure.wipNum},
        </if>
        delete_status=delete_status

        WHERE id=#{procedureId} AND delete_status=0
    </update>

    <update id="rewipnum" parameterType="org.thiki.kanban.procedure.Procedure" flushCache="true">
        UPDATE kb_procedure SET wip_num=#{procedure.wipNum}
        WHERE id=#{procedureId} AND delete_status=0
    </update>

    <update id="resort" parameterType="org.thiki.kanban.procedure.Procedure" flushCache="true">
        UPDATE kb_procedure SET sort_number = #{sortNumber} WHERE delete_status=0 AND id = #{id}
    </update>

    <select id="uniqueTitle" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_procedure WHERE delete_status=0 AND board_id=#{boardId} AND kb_procedure.title=#{title}
    </select>

    <select id="loadByBoardId" parameterType="java.lang.String" resultType="org.thiki.kanban.procedure.Procedure">
        SELECT * FROM kb_procedure WHERE delete_status=0 AND board_id=#{boardId} ORDER BY sort_number
    </select>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.procedure.Procedure">
        SELECT * FROM kb_procedure WHERE delete_status=0 and id= #{procedureId}
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_procedure SET delete_status=1 WHERE id=#{procedureId}
    </delete>

    <select id="isDoneProcedureAlreadyExist" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_procedure WHERE delete_status=0 AND board_id=#{boardId} AND id!=#{procedureId} AND
        status=9 AND type =1
    </select>

    <select id="findDoneProcedure" parameterType="java.lang.String" resultType="org.thiki.kanban.procedure.Procedure">
        SELECT * FROM kb_procedure WHERE delete_status=0 and board_id= #{boardId} AND status=9 AND type =1
    </select>

    <select id="hasNewArchivedProcedureExist" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_procedure WHERE delete_status=0 AND board_id=#{boardId} AND creation_time >
        #{creationTime} AND status=9 AND type =9
    </select>
</mapper>
