<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.procedure.ProceduresPersistence">

    <insert id="create" parameterType="org.thiki.kanban.procedure.Procedure">
        INSERT INTO
        kb_procedure(id,title, author,board_id,sort_number) VALUES (#{procedure.id},#{procedure.title},
        #{userName},#{boardId},(SELECT
        max_sort_number from (SELECT CASE WHEN max(sort_number) IS NULL THEN 0 ELSE max(sort_number)+1 end as
        max_sort_number FROM kb_procedure WHERE board_id=#{boardId} ) as t ))
    </insert>

    <update id="update" parameterType="org.thiki.kanban.procedure.Procedure" flushCache="true">
        UPDATE kb_procedure SET
        title=#{title},
        sort_number=#{sortNumber}
        WHERE id=#{id} AND delete_status=0
    </update>

    <update id="resort" parameterType="java.util.Map" flushCache="true">
        <if test="increment == 0">
            UPDATE kb_procedure SET sort_number = sort_number+1
            <![CDATA[
            WHERE sort_number >= #{currentOrderNumber} AND sort_number<=#{originOrderNumber}
            ]]>
        </if>

        <if test="increment == 1">
            UPDATE kb_procedure SET sort_number = sort_number-1
            <![CDATA[
            WHERE sort_number <= #{currentOrderNumber} AND sort_number>=#{originOrderNumber}
            ]]>
        </if>

        AND board_id=#{boardId} AND delete_status=0 AND id != #{id}
    </update>

    <select id="uniqueTitle" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_procedure WHERE delete_status=0 AND board_id=#{boardId} AND kb_procedure.title=#{title}
    </select>

    <select id="loadByBoardId" parameterType="java.lang.String" resultType="org.thiki.kanban.procedure.Procedure">
        SELECT * FROM kb_procedure WHERE delete_status=0 AND board_id=#{boardId} ORDER BY sort_number
    </select>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.procedure.Procedure">
        SELECT * FROM kb_procedure WHERE delete_status=0 and id= #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_procedure SET delete_status=1 WHERE id=#{id}
    </delete>
</mapper>
