<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.projects.projectMembers.ProjectMembersPersistence">
    <insert id="joinTeam" parameterType="org.thiki.kanban.projects.projectMembers.ProjectMember">
        INSERT INTO
        kb_project_members(id,project_id,member,author) VALUES (#{id},#{projectId},#{member},#{author})
    </insert>
    <select id="findById" parameterType="java.lang.String"
            resultType="org.thiki.kanban.projects.projectMembers.ProjectMember">
        SELECT * FROM kb_project_members WHERE id= #{id} AND delete_status=0
    </select>
    <select id="findMemberByTeamId" parameterType="java.lang.String"
            resultType="org.thiki.kanban.projects.projectMembers.ProjectMember">
        SELECT * FROM kb_project_members WHERE project_id= #{projectId} AND member=#{member} AND delete_status=0
    </select>

    <select id="isAMemberOfTheTeam" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_project_members WHERE project_id= #{projectId} AND member=#{userName} AND
        delete_status=0
    </select>

    <select id="loadMembersByTeamId" parameterType="java.lang.String"
            resultType="org.thiki.kanban.projects.projectMembers.Member">
        SELECT user.name as userName,user.email as email FROM kb_project_members members LEFT JOIN kb_user_registration
        user ON members.member=user.NAME WHERE project_id=#{projectId} AND members.delete_status=0 AND
        user.delete_status=0
    </select>

    <select id="findTeams" parameterType="java.lang.String"
            resultType="org.thiki.kanban.projects.project.Project">
        SELECT project.id AS id,project.name AS name FROM kb_project project LEFT JOIN kb_project_members members ON
        project.id=members.project_id WHERE members.member=#{userName} AND project.delete_status=0 AND
        members.delete_status=0
    </select>

    <delete id="leaveTeam" parameterType="java.util.Map" flushCache="true">
        UPDATE kb_project_members SET delete_status=1 WHERE member=#{memberName} AND project_id=#{projectId} AND
        delete_status=0
    </delete>
</mapper>
