<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.thiki.kanban.registration.RegistrationPersistence">

    <insert id="create" parameterType="org.thiki.kanban.registration.UserRegistration">
        INSERT INTO
        kb_user_registration(id, user_id, password, recovery_email, recovery_phone, status)
        VALUES (#{id}, #{userId}, #{password}, #{recoveryEmail}, #{recoveryPhone}, #{status})
    </insert>

    <select id="findByName" parameterType="java.lang.String" resultType="org.thiki.kanban.registration.UserRegistration">
        SELECT * FROM kb_user_registration WHERE delete_status=0 and name= #{name}
    </select>

</mapper>
