<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.sprint.SprintPersistence">

    <insert id="create" parameterType="org.thiki.kanban.sprint.Sprint">
        INSERT INTO
        kb_sprint(id,start_time,end_time,board_id,author) VALUES (#{sprint.id},#{sprint.startTime}, #{sprint.endTime},#{boardId}, #{userName})
    </insert>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.sprint.Sprint">
        SELECT * FROM kb_sprint WHERE delete_status=0 and id= #{id}
    </select>

    <select id="isExistUnArchivedSprint" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_sprint WHERE delete_status=0 and board_id= #{boardId} AND status=1
    </select>

    <update id="update" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_sprint SET
        start_time = #{sprint.startTime},
        end_time = #{sprint.endTime}
        WHERE id=#{sprintId} AND board_id=#{boardId} AND delete_status=0
    </update>
</mapper>
