<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.stage.StagesPersistence">

    <insert id="create" parameterType="org.thiki.kanban.stage.Stage">
        INSERT INTO
        kb_stage(id,title,description,author,board_id,type,status,sort_number,wip_limit,limitation_on_entry,definition_of_done)
        VALUES
        (#{stage.id},#{stage.title},#{stage.description},
        #{userName},#{boardId},#{stage.type},#{stage.status},(SELECT
        max_sort_number from (SELECT CASE WHEN max(sort_number) IS NULL THEN 0 ELSE max(sort_number)+1 end as
        max_sort_number FROM kb_stage WHERE board_id=#{boardId} ) as t ),
        #{stage.wipLimit},#{stage.limitationOnEntry},#{stage.definitionOfDone}
        )
    </insert>

    <update id="update" parameterType="org.thiki.kanban.stage.Stage" flushCache="true">
        UPDATE kb_stage SET
        <if test="stage.title!=null">
            title=#{stage.title},
        </if>
        <if test="stage.description!=null">
            description=#{stage.description},
        </if>
        <if test="stage.sortNumber!=null">
            sort_number=#{stage.sortNumber},
        </if>
        <if test="stage.status!=null">
            status=#{stage.status},
        </if>
        <if test="stage.type!=null">
            type=#{stage.type},
        </if>
        <if test="stage.wipLimit!=null">
            wip_limit=#{stage.wipLimit},
        </if>
        <if test="stage.limitationOnEntry!=null">
            limitation_on_entry=#{stage.limitationOnEntry},
        </if>
        <if test="stage.definitionOfDone!=null">
            definition_of_done=#{stage.definitionOfDone},
        </if>
        delete_status=delete_status

        WHERE id=#{stageId} AND delete_status=0
    </update>

    <update id="rewipLimit" parameterType="org.thiki.kanban.stage.Stage" flushCache="true">
        UPDATE kb_stage SET wip_limit=#{stage.wipLimit}
        WHERE id=#{stageId} AND delete_status=0
    </update>

    <update id="resort" parameterType="org.thiki.kanban.stage.Stage" flushCache="true">
        UPDATE kb_stage SET sort_number = #{sortNumber} WHERE delete_status=0 AND id = #{id}
    </update>

    <select id="uniqueTitle" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_stage WHERE delete_status=0 AND board_id=#{boardId} AND kb_stage.title=#{title}
    </select>

    <select id="loadByBoardIdAndType" parameterType="java.lang.String"
            resultType="org.thiki.kanban.stage.Stage">
        SELECT * FROM kb_stage WHERE delete_status=0 AND board_id=#{boardId}
        <if test="viewType=='sprintView'|| viewType == null">
            AND type=1
        </if>

        <if test="viewType=='archiveView'">
            AND type=9
        </if>

        <if test="viewType=='roadMapView'">
            AND (status =9 OR (TYPE !=1 AND status=0))
        </if>
        ORDER BY sort_number
    </select>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.stage.Stage">
        SELECT * FROM kb_stage WHERE delete_status=0 and id= #{stageId}
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_stage SET delete_status=1 WHERE id=#{stageId}
    </delete>

    <select id="isDoneStageAlreadyExist" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_stage WHERE delete_status=0 AND board_id=#{boardId} AND id!=#{stageId} AND
        status=9 AND type =1
    </select>

    <select id="findDoneStage" parameterType="java.lang.String" resultType="org.thiki.kanban.stage.Stage">
        SELECT * FROM kb_stage WHERE delete_status=0 and board_id= #{boardId} AND status=9 AND type =1
    </select>

    <select id="findStageByStatus" parameterType="java.lang.Object"
            resultType="org.thiki.kanban.stage.Stage">
        SELECT * FROM kb_stage WHERE delete_status=0 and board_id= #{boardId} AND status=#{status} AND type =1
    </select>

    <select id="hasNewArchivedStageExist" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_stage WHERE delete_status=0 AND board_id=#{boardId} AND creation_time >
        #{creationTime} AND status=9 AND type =9
    </select>

    <select id="countCardsNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM kb_card WHERE delete_status=0 AND stage_id=#{stageId} AND parent_id IS NULL
    </select>
</mapper>
