<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.teams.teamMembers.TeamMembersPersistence">
    <insert id="joinTeam" parameterType="org.thiki.kanban.teams.teamMembers.TeamMember">
        INSERT INTO
        kb_team_members(id,team_id,member,author) VALUES (#{id},#{teamId},#{member},#{author})
    </insert>
    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.teams.teamMembers.TeamMember">
        SELECT * FROM kb_team_members WHERE id= #{id} AND delete_status=0
    </select>
    <select id="findMemberByTeamId" parameterType="java.lang.String"
            resultType="org.thiki.kanban.teams.teamMembers.TeamMember">
        SELECT * FROM kb_team_members WHERE team_id= #{teamId} AND member=#{member} AND delete_status=0
    </select>

    <select id="isAMemberOfTheTeam" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM kb_team_members WHERE team_id= #{teamId} AND member=#{userName} AND delete_status=0
    </select>

    <select id="loadMembersByTeamId" parameterType="java.lang.String"
            resultType="org.thiki.kanban.teams.teamMembers.Member">
        SELECT user.name as userName,user.email as email FROM kb_team_members members LEFT JOIN kb_user_registration
        user ON members.member=user.NAME WHERE team_id=#{teamId} AND members.delete_status=0 AND user.delete_status=0
    </select>

    <select id="findTeams" parameterType="java.lang.String"
            resultType="org.thiki.kanban.teams.team.Team">
        SELECT team.id AS id,team.name AS name FROM kb_team team LEFT JOIN kb_team_members members ON team.id=members.team_id WHERE members.member=#{userName} AND team.delete_status=0 AND members.delete_status=0
    </select>

    <delete id="leaveTeam" parameterType="java.util.Map" flushCache="true">
        UPDATE kb_team_members SET delete_status=1 WHERE member=#{memberName} AND team_id=#{teamId} AND delete_status=0
    </delete>
</mapper>
