<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.teamMembers.TeamMembersPersistence">
    <insert id="joinTeam" parameterType="org.thiki.kanban.teamMembers.TeamMember">
        INSERT INTO
        kb_team_members(id,team_id,member,author) VALUES (#{id},#{teamId},#{member},#{author})
    </insert>
    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.teamMembers.TeamMember">
        SELECT * FROM kb_team_members WHERE id= #{id} AND delete_status=0
    </select>
    <select id="findMemberByTeamId" parameterType="java.lang.String"
            resultType="org.thiki.kanban.teamMembers.TeamMember">
        SELECT * FROM kb_team_members WHERE team_id= #{teamId} AND member=#{member} AND delete_status=0
    </select>
</mapper>
