<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.thiki.kanban.user.UsersPersistence">

    <insert id="create" parameterType="org.thiki.kanban.user.UserProfile">
        INSERT INTO
        kb_user_registration(id, email,name) VALUES (#{id}, #{email}, #{name})
    </insert>

    <update id="update" parameterType="org.thiki.kanban.user.UserProfile" flushCache="true">
        UPDATE kb_user_registration SET
        email=#{email},
        name=#{name}
        WHERE id=#{id}
    </update>

    <select id="loadAll" parameterType="java.lang.String" resultType="org.thiki.kanban.user.UserProfile">
        SELECT * FROM kb_user_registration WHERE delete_status=0
    </select>

    <select id="findById" parameterType="java.lang.String" resultType="org.thiki.kanban.user.UserProfile">
        SELECT * FROM kb_user_registration WHERE delete_status=0 and id= #{id}
    </select>

    <select id="findByEmail" parameterType="java.lang.String" resultType="org.thiki.kanban.user.UserProfile">
        SELECT * FROM kb_user_registration WHERE delete_status=0 and email= #{email}
    </select>

    <select id="findByPhone" parameterType="java.lang.String" resultType="org.thiki.kanban.user.UserProfile">
        SELECT * FROM kb_user_registration WHERE delete_status=0 and phone= #{phone}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultType="org.thiki.kanban.user.UserProfile">
        SELECT * FROM kb_user_registration WHERE delete_status=0 and name= #{name}
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_user_registration SET delete_status=1 WHERE id=#{id}
    </delete>

    <select id="existsUser" parameterType="map" resultType="boolean">
        SELECT count(*) FROM kb_user_ WHERE email=#{email} or name=#{name}
    </select>
</mapper>
