<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.thiki.kanban.user.UsersPersistence">

    <insert id="create" parameterType="org.thiki.kanban.user.User">
        INSERT INTO
        kb_user_registration(id, email,user_name) VALUES (#{id}, #{email}, #{userName})
    </insert>

    <update id="update" parameterType="org.thiki.kanban.user.User" flushCache="true">
        UPDATE kb_user_registration SET
        email=#{email},
        user_name=#{userName}
        WHERE id=#{id} AND delete_status=0
    </update>

    <select id="findByEmail" parameterType="java.lang.String" resultType="org.thiki.kanban.user.User">
        SELECT * FROM kb_user_registration WHERE delete_status=0 and email= #{email}
    </select>

    <select id="findByPhone" parameterType="java.lang.String" resultType="org.thiki.kanban.user.User">
        SELECT * FROM kb_user_registration WHERE delete_status=0 and phone= #{phone}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultType="org.thiki.kanban.user.User">
        SELECT * FROM kb_user_registration WHERE delete_status=0 and user_name= #{userName}
    </select>

    <select id="findByIdentity" parameterType="java.lang.String"
            resultType="org.thiki.kanban.user.User">
        SELECT id,email,user_name,salt,password FROM kb_user_registration WHERE delete_status=0 and (email=#{identity} or
        user_name=#{identity})
    </select>

    <delete id="deleteById" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_user_registration SET delete_status=1 WHERE id=#{id}
    </delete>

    <select id="isNameExist" parameterType="java.lang.String" resultType="boolean">
        SELECT count(*) FROM kb_user_registration WHERE user_name=#{userName} AND delete_status=0
    </select>

    <select id="isEmailExist" parameterType="java.lang.String" resultType="boolean">
        SELECT count(*) FROM kb_user_registration WHERE email=#{email} AND delete_status=0
    </select>

    <select id="findByCredential" parameterType="java.lang.String"
            resultType="org.thiki.kanban.user.User">
        SELECT id,email,user_name FROM kb_user_registration WHERE delete_status=0 and (email=#{identity} or
        user_name=#{identity})
        AND kb_user_registration.password=#{password}
    </select>

    <select id="findProfile" parameterType="java.lang.String" resultType="org.thiki.kanban.user.Profile">
        SELECT registration.user_name as userName,registration.email,profile.nick_name as nickName,profile.avatar as
        avatar
        FROM kb_user_profile profile LEFT JOIN kb_user_registration registration ON
        profile.user_name=registration.user_name
        WHERE profile.user_name=#{userName} AND registration.delete_status=0 AND profile.delete_status=0
    </select>

    <update id="updateProfile" parameterType="org.thiki.kanban.user.Profile" flushCache="true">
        UPDATE kb_user_profile SET
        nick_name=#{profile.nickName}
        WHERE user_name=#{userName} AND delete_status=0
    </update>

    <insert id="initProfile" parameterType="org.thiki.kanban.user.Profile">
        INSERT INTO
        kb_user_profile(id, user_name) VALUES (#{id}, #{userName})
    </insert>

    <update id="updateAvatar" parameterType="java.lang.String" flushCache="true">
        UPDATE kb_user_profile SET
        avatar=#{avatarName}
        WHERE user_name=#{userName} AND delete_status=0
    </update>
</mapper>
