<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thiki.kanban.task.TasksPersistence">

    <insert id="create" parameterType="org.thiki.kanban.task.Task">
        INSERT INTO
        kb_task(id,summary, content, assignee, reporter, entry_id) VALUES (#{id},#{summary}, #{content}, #{assignee}, #{reporter}, #{entryId})
    </insert>

    <update id="update" parameterType="org.thiki.kanban.task.Task" flushCache="true">
        UPDATE kb_task SET
        summary = #{summary},
        content = #{content},
        assignee = #{assignee},
        reporter = #{reporter},
        entry_id = #{entryId}
        WHERE id=#{id}
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultType="org.thiki.kanban.task.Task">
        SELECT * FROM kb_task WHERE id= #{id}
    </select>
    <select id="findByEntryId" parameterType="java.lang.Integer" resultType="org.thiki.kanban.task.Task">
        SELECT * FROM kb_task WHERE entry_id= #{entry_id}
    </select>
</mapper>
